### Samuel Terseer Igbawase

## Data cleaning challenge

In [1]:
# importing the packages
import numpy as np
import pandas as pd
import re #regular expression module

In [2]:
df = pd.read_csv("fifa21 raw data v2.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_2424\1369213445.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fifa21 raw data v2.csv")

In [3]:
rows,columns= df.shape #accessing the number of rows and columns
print (rows,columns)
#there are 18979 rows and 77 columns

18979 77

In [4]:
# viewing the first five rows of the data
df.head(5)
#the data looks truely dirty

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [5]:
#cheching for duplicate
duplicates = df.duplicated(). any()
print(duplicates)
#there are no duplicate values in the dataset

False

In [6]:
#checking the columns
print(df.columns)

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [7]:
#the ↓OVA column has a special character and needs to be renamed
df.rename(columns={"↓OVA":"OVA"}, inplace = True)

In [8]:
#trying to keep track of columns whose datatypes needs attention 
int_columns=[]
str_columns=[]
object_columns=[]
for col in df.columns:
    if df[col].dtype =="int64":
        int_columns.append(col)
    elif df[col].dtype == "str":
        str_columns.append(col)
    elif df[col].dtype =="object":
        object_columns.append(col)

In [9]:
# assessing the int columns
print (int_columns)

print("counts:",len(int_columns))

['ID', 'Age', 'OVA', 'POT', 'BOV', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY']
counts: 54

In [10]:
print(str_columns)
# there are no string columns

[]

In [11]:
print(object_columns),len(object_columns)

['Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Club', 'Contract', 'Positions', 'Height', 'Weight', 'Preferred Foot', 'Best Position', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits']

(None, 23)

In [12]:
#checking for missing values in the it columns
df[int_columns].isna().sum()
df[int_columns].isnull().sum()
#there no missing or null values in int columns

ID                  0
Age                 0
OVA                 0
POT                 0
BOV                 0
Attacking           0
Crossing            0
Finishing           0
Heading Accuracy    0
Short Passing       0
Volleys             0
Skill               0
Dribbling           0
Curve               0
FK Accuracy         0
Long Passing        0
Ball Control        0
Movement            0
Acceleration        0
Sprint Speed        0
Agility             0
Reactions           0
Balance             0
Power               0
Shot Power          0
Jumping             0
Stamina             0
Strength            0
Long Shots          0
Mentality           0
Aggression          0
Interceptions       0
Positioning         0
Vision              0
Penalties           0
Composure           0
Defending           0
Marking             0
Standing Tackle     0
Sliding Tackle      0
Goalkeeping         0
GK Diving           0
GK Handling         0
GK Kicking          0
GK Positioning      0
GK Reflexes         0
Total Stats         0
Base Stats          0
PAC                 0
SHO                 0
PAS                 0
DRI                 0
DEF                 0
PHY                 0
dtype: int64

In [13]:
# i want to creat a new data and add all the clean columns inside
new_df = df[int_columns].copy()

In [14]:
#i want to define a function that will identify the forign characters
"""these function accepts two arguments i.e the dataframe and the column and returns the unique charaters in that particular column of the dataframe
"""
def getUniqueCharaters(df,col):
    unique_characters = []
    for index, row in df.iterrows():
        for char in row[col]:
            if char not in unique_characters:
                unique_characters.append(char)
    return unique_characters

In [15]:
print(getUniqueCharaters(df,"Name"))
#there're special characters in this column

['L', '.', ' ', 'M', 'e', 's', 'i', 'C', 'r', 't', 'a', 'n', 'o', 'R', 'l', 'd', 'J', 'O', 'b', 'k', 'K', 'D', 'B', 'u', 'y', 'N', 'm', 'w', 'S', 'h', 'A', 'p', 'é', 'g', 'V', 'v', 'j', 'T', 'z', 'ü', 'c', 'P', 'E', 'H', 'č', 'G', 'x', '-', 'F', 'q', 'W', 'ę', 'í', 'ć', 'á', 'I', 'Y', 'ó', 'Š', 'f', 'Z', 'ú', 'ñ', 'Ø', 'à', 'ã', 'š', 'U', 'ý', 'ğ', 'ž', 'Q', 'Ö', 'ï', 'ç', 'X', 'ö', 'ń', 'É', 'Á', 'ø', 'ř', 'æ', 'Ć', 'Ç', 'ð', "'", 'Ü', 'ä', 'ô', 'ą', 'ı', 'ă', 'ș', '�', 'Ó', 'ê', 'ş', 'ë', 'â', 'ß', 'è', 'Ş', 'Ō', 'Đ', 'ț', 'õ', 'Ř', 'ł', 'Ž', 'Č', 'ō', 'ò', 'ů', 'ź', 'Â', 'đ', 'Ś', 'Þ', 'î', 'Ż', 'ě', 'Ț', 'å', 'Ș', 'Ł', 'þ', 'ľ', 'Å', 'ś', 'ň', 'İ', 'ő', 'ķ', 'ż', 'ā', '\xad']

In [16]:
#i want to fetch some of the characters and check if they mean anything in the data
df["Name"][df.Name.str.contains('š','Č')]
#so these charaters are contained in the names of players that means there's nothing wrong with them

170          E. Višća
273        I. Perišić
360         M. Hamšík
437         N. Vlašić
794      S. Kolašinac
             ...
13524      E. Mašović
13641       L. Hroššo
13954      S. Luštica
15312      D. Matijaš
15815          M. Leš
Name: Name, Length: 62, dtype: object

In [17]:
print(getUniqueCharaters(df,"LongName"))

['L', 'i', 'o', 'n', 'e', 'l', ' ', 'M', 's', 'C', '.', 'R', 'a', 'd', 'S', 't', 'A', 'v', 'r', 'J', 'O', 'b', 'k', 'K', 'D', 'B', 'u', 'y', 'N', 'm', 'w', 'h', 'c', 'p', 'é', '-', 'g', 'V', 'j', 'H', 'q', 'T', 'z', 'G', 'í', 'ü', "'", 'P', 'E', 'č', 'x', 'F', 'á', 'W', 'ę', 'Á', 'ć', 'I', 'Q', 'ë', 'Y', 'ó', 'Š', 'f', 'Z', 'ê', 'ñ', 'â', 'U', 'ú', 'Ñ', 'Ø', 'à', 'ã', 'š', 'ý', 'İ', 'ğ', 'ž', 'É', 'ř', 'ç', 'Ö', 'ô', 'ï', 'X', 'ö', 'Ł', 'ń', 'Ç', 'ò', 'ø', 'æ', 'Ć', 'ð', 'î', 'Ó', 'Ü', 'ä', 'ą', 'ı', 'è', 'ă', 'ș', 'Ș', 'ł', 'ş', 'ß', 'Ş', 'ū', 'Ō', 'Đ', 'Â', 'ț', 'õ', 'Ř', 'Ž', 'Č', 'å', 'đ', 'ě', 'ō', 'ů', 'ź', 'Ś', 'Þ', 'ā', 'Ż', 'Ț', 'Ľ', 'ż', 'þ', 'ľ', 'Å', 'ś', 'À', 'Í', 'ň', 'ő', 'ķ', '\xad']

In [18]:
df["LongName"][df.Name.str.contains('š','Č')]
# LongName too is good however, it seem to contain the same information as Name column. one may consider to drop it

170          Edin Višća
273        Ivan Perišić
360        Marek Hamšík
437       Nikola Vlašić
794      Sead Kolašinac
              ...
13524     Erhan Mašović
13641      Lukáš Hroššo
13954    Steven Luštica
15312     Davor Matijaš
15815         Mateo Leš
Name: LongName, Length: 62, dtype: object

In [19]:
print(getUniqueCharaters(df,"photoUrl"))
#there're no special characters in this column aside normal url charaters

['h', 't', 'p', 's', ':', '/', 'c', 'd', 'n', '.', 'o', 'f', 'i', 'a', 'm', 'l', 'y', 'e', 'r', '1', '5', '8', '0', '2', '3', '_', '6', 'g', '9', '7', '4']

In [20]:
# asses photoUrl for null and missing values

In [21]:
print(df.photoUrl.isnull().any())
print(df.photoUrl.isna().any())
#there're no null or missing values

False
False

In [22]:
df.photoUrl.head(20)

0     https://cdn.sofifa.com/players/158/023/21_60.png
1     https://cdn.sofifa.com/players/020/801/21_60.png
2     https://cdn.sofifa.com/players/200/389/21_60.png
3     https://cdn.sofifa.com/players/192/985/21_60.png
4     https://cdn.sofifa.com/players/190/871/21_60.png
5     https://cdn.sofifa.com/players/188/545/21_60.png
6     https://cdn.sofifa.com/players/209/331/21_60.png
7     https://cdn.sofifa.com/players/212/831/21_60.png
8     https://cdn.sofifa.com/players/231/747/21_60.png
9     https://cdn.sofifa.com/players/192/448/21_60.png
10    https://cdn.sofifa.com/players/203/376/21_60.png
11    https://cdn.sofifa.com/players/208/722/21_60.png
12    https://cdn.sofifa.com/players/200/145/21_60.png
13    https://cdn.sofifa.com/players/192/119/21_60.png
14    https://cdn.sofifa.com/players/167/495/21_60.png
15    https://cdn.sofifa.com/players/165/153/21_60.png
16    https://cdn.sofifa.com/players/155/862/21_60.png
17    https://cdn.sofifa.com/players/153/079/21_60.png
18    https://cdn.sofifa.com/players/202/652/21_60.png
19    https://cdn.sofifa.com/players/215/914/21_60.png
Name: photoUrl, dtype: object

In [23]:
#lets find out if the photos are all in .png format
df[df.photoUrl.str[-4:] !=".png"]
#all photos are in .png format

Empty DataFrame
Columns: [ID, Name, LongName, photoUrl, playerUrl, Nationality, Age, OVA, POT, Club, Contract, Positions, Height, Weight, Preferred Foot, BOV, Best Position, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 77 columns]

In [24]:
print(getUniqueCharaters(df,"playerUrl"))
#playerurl is also clean

['h', 't', 'p', ':', '/', 's', 'o', 'f', 'i', 'a', '.', 'c', 'm', 'l', 'y', 'e', 'r', '1', '5', '8', '0', '2', '3', 'n', '-', '6', 'd', 'v', '9', 'j', 'b', 'k', 'u', '7', '4', 'w', 'g', 'q', 'z', 'x']

In [25]:
print(getUniqueCharaters(df,"Nationality"))

['A', 'r', 'g', 'e', 'n', 't', 'i', 'a', 'P', 'o', 'u', 'l', 'S', 'v', 'B', 'm', 'z', 'd', 'E', 'y', 'p', 'F', 'c', 'G', 'N', 'h', 's', 'K', ' ', 'R', 'b', 'C', 'I', 'U', 'w', 'k', 'M', 'D', 'H', 'x', 'W', 'T', 'V', 'f', 'J', 'Z', 'q', 'L', '&', 'ã', 'é', 'í', 'j']

In [26]:
df["Nationality"][df.Name.str.contains('ã','é')]
#these are names of countries, that explains the unusual characters.

167      Portugal
211      Portugal
280      Portugal
387        Brazil
435      Portugal
           ...
14170      Brazil
14910    Portugal
14928      Brazil
14973    Portugal
15432    Portugal
Name: Nationality, Length: 86, dtype: object

In [27]:
print(df.Nationality.isnull().any())
print(df.Nationality.isna().any())

False
False

In [28]:
print(getUniqueCharaters(df,"Club"))

['\n', 'F', 'C', ' ', 'B', 'a', 'r', 'c', 'e', 'l', 'o', 'n', 'J', 'u', 'v', 't', 's', 'A', 'é', 'i', 'M', 'd', 'h', 'y', 'P', 'S', '-', 'G', 'm', 'ü', 'L', 'p', 'R', 'T', 'H', 'I', 'N', 'D', 'U', 'z', 'ö', 'g', 'b', 'O', 'q', 'V', 'j', 'x', 'f', 'W', 'E', 'ê', 'w', 'k', 'ş', 'K', '0', '4', '1', '8', '9', 'ã', '.', 'Y', 'É', 'Z', '&', 'ç', 'ó', 'ú', '2', 'á', 'Q', 'Ç', '5', 'í', '3', 'ø', 'î', 'ñ', "'", 'ň', 'è', '6', 'ğ', 'ł', '/', '(', ')', 'ń', 'ę', 'â', '7', 'å', 'æ', 'Ś', 'ą', 'ä', 'Ö', 'ș']

In [29]:
df['Club']=df['Club'].str.replace('\n',"",regex=True)

In [30]:
print(getUniqueCharaters(df,"Contract"))

['2', '0', '4', ' ', '~', '1', '8', '3', '5', '7', '6', '9', 'J', 'u', 'n', ',', 'O', 'L', 'o', 'a', 'F', 'r', 'e', 'D', 'c', 'M', 'y', 'l', 'A', 'g', 'N', 'v']

In [31]:
print(df['Contract'].isnull().any())

False

In [32]:
df['Contract'].head()

0    2004 ~ 2021
1    2018 ~ 2022
2    2014 ~ 2023
3    2015 ~ 2023
4    2017 ~ 2022
Name: Contract, dtype: object

In [33]:
df['Contract'] = df['Contract'].str.replace('~','-',regex = True)
df['Contract'].head()

0    2004 - 2021
1    2018 - 2022
2    2014 - 2023
3    2015 - 2023
4    2017 - 2022
Name: Contract, dtype: object

In [34]:
#i want to add the columns i've cleaned so far to new_df
new_df['photoUrl'] = pd.Series(df.photoUrl.copy(), dtype=str)
new_df['LongName'] = pd.Series(df.LongName.copy(), dtype=str)
new_df['playerurl'] = pd.Series(df.playerUrl.copy(), dtype=str)
new_df['Nationality'] = pd.Series(df.Nationality.copy(), dtype=str)
new_df['Contract'] = pd.Series(df.Contract.copy(), dtype=object)
new_df['Club'] = pd.Series(df.Club.copy(), dtype=str)

In [35]:
print(getUniqueCharaters(df,"Positions"))

['R', 'W', ',', ' ', 'S', 'T', 'C', 'F', 'L', 'G', 'K', 'A', 'M', 'B', 'D']

In [36]:
len(df.Positions.unique())#getting the length of unique v alues

640

In [37]:
df['Positions'].head(10)

0    RW, ST, CF
1        ST, LW
2            GK
3       CAM, CM
4       LW, CAM
5            ST
6            RW
7            GK
8    ST, LW, RW
9            GK
Name: Positions, dtype: object

In [38]:
counter = 1
array_of_position_categoricals = {}
for pos in df.Positions.unique():
    if pos not in array_of_position_categoricals.keys():
        array_of_position_categoricals[pos] = counter
        counter+=1
new_pos = df.Positions.copy()
new_pos.replace(array_of_position_categoricals, inplace=True)
# Lets add the categorical column to the clean data
new_df['Positions Categorical'] = pd.Series(new_pos).astype('int64')
# Lets add the column itself to the clean data
new_df['Positions'] = pd.Series(df.Positions.copy().astype("str"))

In [39]:
new_df.head(10)

,ID,Age,OVA,POT,BOV,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,...,DEF,PHY,photoUrl,LongName,playerurl,Nationality,Contract,Club,Positions Categorical,Positions
0,158023,33,93,93,93,429,85,95,70,91,...,38,65,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,2004 - 2021,FC Barcelona,1,"RW, ST, CF"
1,20801,35,92,92,92,437,84,95,90,82,...,35,77,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,2018 - 2022,Juventus,2,"ST, LW"
2,200389,27,91,93,91,95,13,11,15,43,...,52,90,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,2014 - 2023,Atlético Madrid,3,GK
3,192985,29,91,91,91,407,94,82,55,94,...,64,78,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,2015 - 2023,Manchester City,4,"CAM, CM"
4,190871,28,91,91,91,408,85,87,62,87,...,36,59,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,2017 - 2022,Paris Saint-Germain,5,"LW, CAM"
5,188545,31,91,91,91,423,71,94,85,84,...,43,82,https://cdn.sofifa.com/players/188/545/21_60.png,Robert Lewandowski,http://sofifa.com/player/188545/robert-lewando...,Poland,2014 - 2023,FC Bayern München,6,ST
6,209331,28,90,90,90,392,79,91,59,84,...,45,75,https://cdn.sofifa.com/players/209/331/21_60.png,Mohamed Salah,http://sofifa.com/player/209331/mohamed-salah/...,Egypt,2017 - 2023,Liverpool,7,RW
7,212831,27,90,91,90,114,17,13,19,45,...,51,91,https://cdn.sofifa.com/players/212/831/21_60.png,Alisson Ramses Becker,http://sofifa.com/player/212831/alisson-ramses...,Brazil,2018 - 2024,Liverpool,3,GK
8,231747,21,90,95,91,408,78,91,73,83,...,39,76,https://cdn.sofifa.com/players/231/747/21_60.png,Kylian Mbappé,http://sofifa.com/player/231747/kylian-mbappe/...,France,2018 - 2022,Paris Saint-Germain,8,"ST, LW, RW"
9,192448,28,90,93,90,118,18,14,11,61,...,45,88,https://cdn.sofifa.com/players/192/448/21_60.png,Marc-André ter Stegen,http://sofifa.com/player/192448/marc-andre-ter...,Germany,2014 - 2022,FC Barcelona,3,GK

In [40]:
print(getUniqueCharaters(df,"Height"))
df.Height.unique()

['1', '7', '0', 'c', 'm', '8', '5', '4', '9', '3', '6', '2', "'", '"']

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [41]:
df.Height.isna().any()
df.Height.isnull().any()

False

In [42]:
df['Height'] = df['Height'].str.replace('cm','',regex = True)

In [43]:
df['Height'][df.Height.str.contains("'")]
df['Height'] = df.Height.str.replace("'", '.')
df['Height'] = df.Height.str.replace('"', '')

In [44]:
new_df['Height'] = pd.Series(df.Height,dtype=int)

In [45]:
height_cm=[]
for height in new_df.Height:
    height = height.split('.')
    feets, inches = int(height[0]), int(height[0])
    #converting ft to cm
    feets_to_cm = feets * 30.48
    #changing inches to cm
    inche_to_cm = inches * 2.54
    height_cm.append( round(float(feets_to_cm + inche_to_cm),2) )
    new_df['Height(cm)']=pd.Series(height_cm,dtype=float)

In [46]:
new_df[['Height']].head(60)

   Height
0     170
1     187
2     188
3     181
4     175
5     184
6     175
7     191
8     178
9     187
10    193
11    175
12    185
13    199
14    193
15    185
16    184
17    173
18    170
19    168
20    176
21    177
22    188
23    188
24    193
25    187
26    175
27    183
28    176
29    180
30    180
31    173
32    178
33    189
34    179
35    188
36    183
37    181
38    185
39    187
40    189
41    187
42    195
43    180
44    172
45    182
46    188
47    185
48    186
49    192
50    173
51    191
52    165
53    191
54    179
55    194
56    191
57    183
58    173
59    167

In [47]:
new_df.drop(['Height(cm)'],axis=1,inplace=True)

In [48]:
new_df

,ID,Age,OVA,POT,BOV,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,...,PHY,photoUrl,LongName,playerurl,Nationality,Contract,Club,Positions Categorical,Positions,Height
0,158023,33,93,93,93,429,85,95,70,91,...,65,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,2004 - 2021,FC Barcelona,1,"RW, ST, CF",170
1,20801,35,92,92,92,437,84,95,90,82,...,77,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,2018 - 2022,Juventus,2,"ST, LW",187
2,200389,27,91,93,91,95,13,11,15,43,...,90,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,2014 - 2023,Atlético Madrid,3,GK,188
3,192985,29,91,91,91,407,94,82,55,94,...,78,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,2015 - 2023,Manchester City,4,"CAM, CM",181
4,190871,28,91,91,91,408,85,87,62,87,...,59,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,2017 - 2022,Paris Saint-Germain,5,"LW, CAM",175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,21,47,55,49,145,23,26,43,26,...,51,https://cdn.sofifa.com/players/247/223/21_60.png,Ao Xia,http://sofifa.com/player/247223/ao-xia/210006/,China PR,2018 - 2022,Wuhan Zall,9,CB,178
18975,258760,17,47,67,51,211,38,42,40,56,...,45,https://cdn.sofifa.com/players/258/760/21_60.png,Ben Hough,http://sofifa.com/player/258760/ben-hough/210006/,England,2020 - 2021,Oldham Athletic,18,CM,175
18976,252757,18,47,65,49,200,30,34,43,54,...,53,https://cdn.sofifa.com/players/252/757/21_60.png,Ronan McKinley,http://sofifa.com/player/252757/ronan-mckinley...,England,2019 - 2020,Derry City,18,CM,179
18977,243790,20,47,57,48,215,45,52,34,42,...,44,https://cdn.sofifa.com/players/243/790/21_60.png,Zhen'ao Wang,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,2020 - 2022,Dalian YiFang FC,7,RW,175
18978,252520,21,47,57,50,163,40,18,40,45,...,55,https://cdn.sofifa.com/players/252/520/21_60.png,Xiao Zhou,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,2019 - 2023,Dalian YiFang FC,51,"CB, LB",188

In [49]:
print(getUniqueCharaters(df,"Weight"))

['7', '2', 'k', 'g', '8', '3', '0', '6', '1', '9', '5', '4', 'l', 'b', 's']

In [50]:
print(df['Weight'].isna().any())

False

In [51]:
df['Weight'].head(10)

0    72kg
1    83kg
2    87kg
3    70kg
4    68kg
5    80kg
6    71kg
7    91kg
8    73kg
9    85kg
Name: Weight, dtype: object

In [52]:
df['Weight']=df.Weight.str.replace('kg','')
df['Weight']=df.Weight.str.replace('lbs','')

In [53]:
new_df['Weight']= pd.Series(df.Weight.copy().astype('int'))

In [54]:
df.rename(columns={'Best Position':'BP','Preferred Foot':'foot','Loan Date End':'Loan_date_end'},inplace=True)

In [55]:
print(getUniqueCharaters(df,"BP"))

['R', 'W', 'S', 'T', 'G', 'K', 'C', 'A', 'M', 'L', 'B', 'D', 'F']

In [56]:
new_df['BP'] = pd.Series(df.BP, dtype=str)

In [57]:
new_df['BP'].isna().any()

False

In [58]:
print(getUniqueCharaters(df,"Joined"))

['J', 'u', 'l', ' ', '1', ',', '2', '0', '4', '8', '6', 'A', 'g', '3', '5', '7', '9', 'a', 'n', 'O', 'c', 't', 'S', 'e', 'p', 'M', 'y', 'F', 'b', 'r', 'D', 'N', 'o', 'v']

In [59]:
df['Joined'].isnull().any()

False

In [60]:
df['Joined'].dtype

dtype('O')

In [61]:
new_df['Joined']=pd.to_datetime(df.Joined).dt.date

In [62]:
df.rename(columns={'Loan Date  End':'Loan_date_end'},inplace=True)

In [63]:
new_df['Loan_date_end']=pd.to_datetime( df.Loan_date_end ).dt.date

In [64]:
new_df['Loan_date_end'].fillna(0,inplace=True)

In [65]:
new_df['Loan_date_end']=pd.to_datetime(df['Loan_date_end']).dt.date

In [66]:
df.Wage = df.Wage.str.replace('€','')
new_values = []
for val in df.Wage:
    if 'M' in val:
        raw_figure = float(val.split('M')[0])
        new_values.append(raw_figure*1000000)
    elif 'K' in val:
        raw_figure = float(val.split('K')[0])
        new_values.append(raw_figure*1000)
    else:
        new_values.append(val)
new_df['Wage'] = pd.Series(new_values, dtype=float)

In [67]:
df['Release Clause'] = df['Release Clause'].str.replace('€','')
new_values = []
for val in df['Release Clause']:
    if 'M' in val:
        raw_figure = float(val.split('M')[0])
        new_values.append(raw_figure*1000000)
    elif 'K' in val:
        raw_figure = float(val.split('K')[0])
        new_values.append(raw_figure*1000)
    else:
        new_values.append(val)
new_df['Release Clause'] = pd.Series(new_values, dtype=float)

In [68]:
stars = {}
numbers = []
for star in df['W/F']:
    number_of_stars = int(star.split(' ★')[0])
    stars[star] = number_of_stars * '★'
    numbers.append(int(number_of_stars))
    copy_of_stars_column = df['W/F'].copy()
    copy_of_stars_column.replace(stars, inplace=True)
# Lets add them to the clean data
new_df['W/F Stars'] = copy_of_stars_column
new_df['W/F'] = pd.Series(numbers, dtype=int)

In [69]:
stars = {}
numbers = []
for star in df['SM']:
    number_of_stars = int(star.split('★')[0])
    stars[star] = number_of_stars * '★'
    numbers.append(int(number_of_stars))
copy_of_stars_column = df['SM'].copy()
copy_of_stars_column.replace(stars, inplace=True)
new_df['SM Stars'] = copy_of_stars_column
new_df['SM'] =pd.Series(numbers, dtype=int)

In [70]:
counter = 1
aw_categoricals = {}
for aw in df['A/W'].unique():
    if aw not in aw_categoricals.keys():
        aw_categoricals[aw] = counter
        counter+=1
        new_aw = df['A/W'].copy()
        new_aw.replace(aw_categoricals, inplace=True)
# Lets add both the clean and categorical column we just created to the clean data
new_df['A/W'] = pd.Series(df['A/W'], dtype=str)
new_df['A/W Categorical'] = pd.Series(new_aw).astype('int64')

In [71]:
print(getUniqueCharaters(df, 'Value'))
# We have M = million, K = thousand and the currency
# replacing the currency
df.Value = df.Value.str.replace('€','')
# We will convert the M to million by multiplying by 1,000,000 and 1,000 in the case of K
new_values = []
for val in df.Value:
    if 'M' in val:
        figure = float(val.split('M')[0])
        new_values.append(figure*1000000)
    elif 'K' in val:
        figure = float(val.split('K')[0])
        new_values.append(figure*1000)
    else:
        new_values.append(val)
# Lets add it to the clean data
new_df['Value'] = pd.Series(new_values, dtype=float)

['€', '1', '0', '3', '.', '5', 'M', '6', '2', '9', '8', '7', '4', 'K']

In [72]:
counter = 1
dw_categoricals = {}
for dw in df['D/W'].unique():
    if dw not in dw_categoricals.keys():
        dw_categoricals[dw] = counter
        counter+=1
new_dw = df['D/W'].copy()
new_dw.replace(dw_categoricals, inplace=True)
new_df['D/W'] = pd.Series(df['D/W'], dtype=str)
new_df['D/W Categorical'] = pd.Series(new_dw).astype('int64')

In [73]:
stars = {}
numbers = []
for star in df.IR:
    number_of_stars = int(star.split(' ★')[0])
    stars[star] = number_of_stars * '★'
    numbers.append(int(number_of_stars))
copy_of_stars_column = df.IR.copy()
copy_of_stars_column.replace(stars, inplace=True)
new_df['IR Stars'] = copy_of_stars_column
new_df['IR'] = pd.Series(numbers, dtype=int)

In [74]:
hits = []
for hit in df.Hits:
    checked = ""
# Checks and deal with integers
    if type(hit) != str:
        checked = result
# Checks and deal with string...they have the white spaces
    else:
        result = hit.strip()
        checked = result
# Handle the thousands
    if "K" in str(checked):
        result = checked.replace("K",'')
        result = float(result) * 1000
        hits.append(result)
    else:
        result = float(checked)
        hits.append(result)
# Add it to the clean columns
new_df['Hits'] = pd.Series(hits, dtype=float)

In [75]:
#to the best of my ability the dataset is clean
#lets assess the data for the last time
new_df.head(10)

,ID,Age,OVA,POT,BOV,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,...,SM Stars,SM,A/W,A/W Categorical,Value,D/W,D/W Categorical,IR Stars,IR,Hits
0,158023,33,93,93,93,429,85,95,70,91,...,★★★★,4,Medium,1,103500000.0,Low,1,★★★★★,5,771.0
1,20801,35,92,92,92,437,84,95,90,82,...,★★★★★,5,High,2,63000000.0,Low,1,★★★★★,5,562.0
2,200389,27,91,93,91,95,13,11,15,43,...,★,1,Medium,1,120000000.0,Medium,2,★★★,3,150.0
3,192985,29,91,91,91,407,94,82,55,94,...,★★★★,4,High,2,129000000.0,High,3,★★★★,4,207.0
4,190871,28,91,91,91,408,85,87,62,87,...,★★★★★,5,High,2,132000000.0,Medium,2,★★★★★,5,595.0
5,188545,31,91,91,91,423,71,94,85,84,...,★★★★,4,High,2,111000000.0,Medium,2,★★★★,4,248.0
6,209331,28,90,90,90,392,79,91,59,84,...,★★★★,4,High,2,120500000.0,Medium,2,★★★,3,246.0
7,212831,27,90,91,90,114,17,13,19,45,...,★,1,Medium,1,102000000.0,Medium,2,★★★,3,120.0
8,231747,21,90,95,91,408,78,91,73,83,...,★★★★★,5,High,2,185500000.0,Low,1,★★★,3,1600.0
9,192448,28,90,93,90,118,18,14,11,61,...,★,1,Medium,1,110000000.0,Medium,2,★★★,3,130.0

In [76]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 81 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     18979 non-null  int64
 1   Age                    18979 non-null  int64
 2   OVA                    18979 non-null  int64
 3   POT                    18979 non-null  int64
 4   BOV                    18979 non-null  int64
 5   Attacking              18979 non-null  int64
 6   Crossing               18979 non-null  int64
 7   Finishing              18979 non-null  int64
 8   Heading Accuracy       18979 non-null  int64
 9   Short Passing          18979 non-null  int64
 10  Volleys                18979 non-null  int64
 11  Skill                  18979 non-null  int64
 12  Dribbling              18979 non-null  int64
 13  Curve                  18979 non-null  int64
 14  FK Accuracy            18979 non-null  int64
 15  Long Passing           18979 non-null  int64
 16  Ball Control           18979 non-null  int64
 17  Movement               18979 non-null  int64
 18  Acceleration           18979 non-null  int64
 19  Sprint Speed           18979 non-null  int64
 20  Agility                18979 non-null  int64
 21  Reactions              18979 non-null  int64
 22  Balance                18979 non-null  int64
 23  Power                  18979 non-null  int64
 24  Shot Power             18979 non-null  int64
 25  Jumping                18979 non-null  int64
 26  Stamina                18979 non-null  int64
 27  Strength               18979 non-null  int64
 28  Long Shots             18979 non-null  int64
 29  Mentality              18979 non-null  int64
 30  Aggression             18979 non-null  int64
 31  Interceptions          18979 non-null  int64
 32  Positioning            18979 non-null  int64
 33  Vision                 18979 non-null  int64
 34  Penalties              18979 non-null  int64
 35  Composure              18979 non-null  int64
 36  Defending              18979 non-null  int64
 37  Marking                18979 non-null  int64
 38  Standing Tackle        18979 non-null  int64
 39  Sliding Tackle         18979 non-null  int64
 40  Goalkeeping            18979 non-null  int64
 41  GK Diving              18979 non-null  int64
 42  GK Handling            18979 non-null  int64
 43  GK Kicking             18979 non-null  int64
 44  GK Positioning         18979 non-null  int64
 45  GK Reflexes            18979 non-null  int64
 46  Total Stats            18979 non-null  int64
 47  Base Stats             18979 non-null  int64
 48  PAC                    18979 non-null  int64
 49  SHO                    18979 non-null  int64
 50  PAS                    18979 non-null  int64
 51  DRI                    18979 non-null  int64
 52  DEF                    18979 non-null  int64
 53  PHY                    18979 non-null  int64
 54  photoUrl               18979 non-null  object
 55  LongName               18979 non-null  object
 56  playerurl              18979 non-null  object
 57  Nationality            18979 non-null  object
 58  Contract               18979 non-null  object
 59  Club                   18979 non-null  object
 60  Positions Categorical  18979 non-null  int64
 61  Positions              18979 non-null  object
 62  Height                 18979 non-null  object
 63  Weight                 18979 non-null  int32
 64  BP                     18979 non-null  object
 65  Joined                 18979 non-null  object
 66  Loan_date_end          1013 non-null   object
 67  Wage                   18979 non-null  float64
 68  Release Clause         18979 non-null  float64
 69  W/F Stars              18979 non-null  object
 70  W/F                    18979 non-null  int32
 71  SM Stars               18979 non-null  object
 72  SM                     18979 non-null  int32
 73  A/W                    18979 non-null  object
 74  A/W Categorical        18979 non-null  int64
 75  Value                  18979 non-null  float64
 76  D/W                    18979 non-null  object
 77  D/W Categorical        18979 non-null  int64
 78  IR Stars               18979 non-null  object
 79  IR                     18979 non-null  int32
 80  Hits                   18979 non-null  float64
dtypes: float64(4), int32(4), int64(57), object(16)
memory usage: 11.4+ MB

In [77]:
new_df['Joined'] = pd.to_datetime(new_df['Joined'])
# To the best of my ability this data is clean

### Best regards to Pastyasamoah

### one love to Chinonso and co